.todo {
  margin: 70px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 61px;
    line-height: 76px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
  }

  &__task {}
}

.action {
  margin-bottom: 30px;

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    width: 734px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 24px;
    line-height: 30px;

    input {
      width: 639px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__img {
    cursor: pointer;
  }

  &__create {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #46CC46;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    line-height: 50px;
  }
}

.task {
  display: flex;
  justify-content: space-between;

  padding: 30px 20px;
  background-color: #323337;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  border-radius: 10px;
  min-height: 90px;

  &__desc {
    display: flex;
    justify-content: space-between;
  }

  &__id {
    margin-right: 20px;
  }

  &__text {
    text-align: left;
    max-width: 628px;
  }

  &__btn {
    display: flex;
    flex: 0 1 80px;
    justify-content: space-between;
  }

  &__complete {
  }

  &__delete {}
}

